<!DOCTYPE html>
<html>
<head lang="en">
    {% load staticfiles %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'pomo/style.css' %}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!-- crypto encription -->
    <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/aes.js"></script>
    <script src="{% static 'pomo/jquery_cookie.js' %}"></script>
    <script src="{% static 'pomo/util.js' %}"></script>

    {% block js %}{% endblock %}
    <title>POMOPLAN HOME</title>
</head>


<body>


{% block content %}{% endblock %}
</body>
</html>